<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!--    <input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <!--    Local references can only be used inside the template not in TS files -->
    <!--    Local reference gives the entire element not just the value -->
    <!--    when used to pass an argument you will not need to add a field inside the ts file. -->
    <input
      type="text"
      class="form-control"
      #serverNameInput>
    <label>Server Content</label>
    <!--    <input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input
      type="text"
      class="form-control"
      #nServerContentInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Server Blueprint
    </button>
  </div>
</div>
