<div class="row d-flex">

<div class="row text-center">    <h2>{{ recipe.name }}</h2>
</div>

  <div class="col" id="details">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle">
          Manage Recipe
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </div>

       <div class="">
      {{ recipe.description }}
    </div>
    <div class="">
      Ingredients
    </div>
  </div>

  <div class="col" id="image">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid float-end" style="max-height: 300px">
  </div>
</div>
