<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>

      <br><br>
      <ul class="list-group">
        <div
          *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 !== 0}"
            *ngFor="let number of oddNumbers">
            {{ number }}
          </li>
        </div>
        <div
          *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngStyle]="{backgroundColor: number % 2 === 0 ? 'blue' : 'transparent'}"
            *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </div>
      </ul>

      <div appHighlight>I am green</div>
      <div appBetterHighlight
           defaultColor='yellow'
           [highlightColor]="'purple'"
      >I am orange
      </div>

<!--Another way to conditionally render elements, basically what happens behind the scene when using *ngIf-->
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
